<%= button_to "Discover Page", "/discover", method: :get%>
<% @movies.each do |movie| %>
    <p><%= link_to "#{movie[:title]}", "/movies/#{movie[:id]}" %>
    Vote Average: <%= movie[:vote_average] %></p>
    <br>
<% end %>
