
<%= button_to 'Create a New User', register_path, method: :get %>

<p><%= link_to "Log In", "/login", method: :get %></p>

<h3> Existing Users: </h3>

<% @users.each do |user| %>

<h4><%=user.email%></h4>

<% end %>
